body {
    background: #60435F;
    min-height: 100vh;
    text-align: center;
    
}

h1, h2 {
    color: #d67ab1;
    font-family: "Roboto", serif;
    text-align: center;

}

a {
    color: #fdf7fa;
    font-family: "Inter", serif;
    padding: 8px;
    background-color: #483247;
    text-decoration: none;
}

a:hover {
    color: #A8DCD9;
}

#home {
    text-align: center;
}

p {
    color: #E2A3C7; 
    font-family: "Inter", serif;
}

p a {
    color: #A8DCD9;
    background-color: #60435F;
    padding: 0px;
}

p a:hover {
    color: #fdf7fa; 
}

footer {
    color: #fdf7fa;
    font-family: "Inter", serif;
    text-align: center;
    position: sticky;
    top: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #d67ab1;
    font-family: "Inter", serif;
}

li {
    display: inline;
}

figcaption {
    color: #A8DCD9;
    font-family: "Inter", serif;
}

ol {
    color: #E2A3C7; 
}

.introduction {
    display: table;
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
}


main, img, figcaption {
    display: table;
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
  }

