body {
    background: #60435F;
}

h1, h2 {
    color: #d67ab1;
    font-family: "Roboto", serif
}

a {
    color: #fdf7fa;
    font-family: "Inter", serif;
    padding: 8px;
    background-color: #483247;
}

a:hover {
    color: #A8DCD9;
}

p {
    color: #E2A3C7; 
    font-family: "Inter", serif;
}

footer {
    color: #fdf7fa;
    font-family: "Inter", serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}