body {
    background: #402B3B;
    text-align: center;
}

h1 {
   font-size: 30px;
   color: #D77FB1;
    font-family: "Roboto", serif;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 30px;
    color: #D77FB1;
    font-family: "Roboto", serif;
    text-align: center;
    padding: 10px;
}

h3 {
    color: #E9BAD7;
    font-family: "Roboto", serif;
    text-align: center;
    padding: 5px;
}

a {
    color: #fdf7fa;
    font-family: "Inter", serif;
    padding: 15px;
    background-color: #483247;
    text-decoration: none;
}

a:hover {
    color: #A8DCD9;
}
 
main {
    padding: 20px; 
    display: table;
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
}

main p {
    width: max-width;
    margin: 0 auto;
    font-size: 18px;
}

p {
    color: #E9BAD7; 
    font-family: "Inter", serif;
}

p a {
    color: #A8DCD9;
    background-color: #402B3B;
    padding: 0px;
    font-size: 18px;
}

p a:hover {
    color: #fdf7fa; 
}

footer {
    color: #fdf7fa;
    font-family: "Inter", serif;
    text-align: center;
    font-size: 18px;
    padding-top: 100px;
}

footer a {
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #E9BAD7;
    font-family: "Inter", serif;
    font-size: 18px;
}

nav li {
    display: inline;
}

figcaption {
    color: #A8DCD9;
    font-family: "Inter", serif;
    font-size: 18px;
}

ol {
    color: #E2A3C7; 
    list-style-type: none;
    font-family: "Inter", serif;
    font-size: 18px;
}

.introduction {
    display: table;
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
}

.introduction a {
    background-color: #402B3B;
    padding: 0px;
}

main, img, figcaption {
    display: table;
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
  }

